coordination-trap-os/n8n/relationship-graph-update.workflow.json
{
  "name": "Relationship Graph Updates",
  "nodes": [
    {"parameters": {"rule": {"interval": [{"field": "cronExpression", "expression": "0 6 * * *"}]}},
     "id": "sched", "name": "Daily 06:00", "type": "n8n-nodes-base.scheduleTrigger", "typeVersion": 1.1, "position": [220, 300]},
    {"parameters": {"method": "POST", "url": "http://host.docker.internal:8000/agents/relationship-facilitator/run", "options": {}},
     "id": "rf", "name": "Run Relationship Facilitator", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [460, 300],
     "notes": "Recommended introductions are written back to the Work Graph by the Documentation Steward inside the pipeline."},
    {"parameters": {"select": "channel", "channelId": {"__rl": true, "value": "#gg-program", "mode": "name"},
       "text": "=Suggested introductions for upcoming convenings:\n{{ $json.narrative }}", "otherOptions": {}},
     "id": "slack", "name": "Post intro suggestions", "type": "n8n-nodes-base.slack", "typeVersion": 2.2, "position": [720, 300]}
  ],
  "connections": {
    "Daily 06:00": {"main": [[{"node": "Run Relationship Facilitator", "type": "main", "index": 0}]]},
    "Run Relationship Facilitator": {"main": [[{"node": "Post intro suggestions", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"}, "meta": {"templateCredsSetupCompleted": false}, "pinData": {}
}
